* {
  box-sizing: border-box;
}

body 
{ 
  background-color:rgb(255, 255, 255);
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  align-content: center;
}
#container 
{
  margin: 10px;
  width: fit-content;


}
    h1 
    {
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px;

    }
    h2 
    {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 3px;
    }
  
    h3 
    {
        font-size: 24px;
        font-weight: lighter;
        text-align: center;
        letter-spacing: 3px;
    }
    p 
    {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 20px;
    }


    /* Center website */
.navbar {
background: rgb(126, 1, 1);
height: 70px;
display: flex;
align-items: center;
padding: 10px;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999; 
}

.navbar__container {
display: flex;
justify-content: space-between;
height: 60px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 20;
}

#navbar__logo{
background-color: gray;
background-size: 100%;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;



}
.navbar__menu {
display: flex;
align-items: center;
list-style: none;
}

.navbar__item {
height: 80px;
}

.navbar__links {
color: white;
display: flex;
align-items: center;
justify-content: center;
width: 125px;
text-decoration: none;
height: 100%;
}

.navbar__btn {
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
width: 100%;
}

.button {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 4px;
background: rgb(162, 161, 161);
color: white;
}*/

.navbar__links:hover {
color: violet;
}

      /* Center website */
      .navbar {
        background: rgb(126, 1, 1);
        height: 70px;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999; 
      }
      
      .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 20;
      }
      
      #navbar__logo{
        background-color: gray;
        background-size: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
      
      
      
      }
      .navbar__menu {
        display: flex;
        align-items: center;
        list-style: none;
      }
      
      .navbar__item {
        height: 80px;
      }
      
      .navbar__links {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
      }
      
      .navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
      }
      
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: rgb(162, 161, 161);
        color: white;
      }
      
      
      .navbar__links:hover {
        color: violet;
      }
      

      .navbar__links:hover {
        color: violet;
      }
      
      
      @media screen and (max-width: 960px) {
      .navbar__container {
          display: flex;
          justify-content: space-between;
          height: 80px;
          z-index: 1;
          width: 100%;
          max-width: 1300px;
          padding: 0;
      }
      
      .navbar__menu {
          display: grid;
          grid-template-columns: auto;
          margin: 0;
          width: 100%;
          position: absolute;
          opacity: 1;
          transition: ease-in-out;
          top: -1000px;
          z-index: -1;
          background: blue;
      }
      
      .navbar__menu.active {
          background: blue;
          top: 100%;
          opacity: 1;
          transition: ease-in-out;
          z-index: 99;
          height: 60vh;
          font-size: 1.6rem;
      }
      
      #navbar__logo {
          padding-left: 25px;
      }
      
      .navbar__toggle .bar {
          width: 25px;
          height: 3px;
          margin: 5px auto;
          transition: all 0.3s ease-in-out;
          background: wheat;
      }   
      
      .navbar__item {
          width: 100%;
      }
      .navbar__links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
      }
      .navbar__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          height: 80px;
          margin: 0;
      }   
      
      .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          height: 80px;
          margin: 0;
      
      }
      #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
      
      }
      .navbar__toggle .bar {
      display: block;
      cursor: pointer;
      }


      /* nav ends here*/

    }
    .main 
    {
    max-width: 1200;
    margin: auto;

    }
    .section 
    {
    position: sticky;
    width: 280px;
    align-content: center;
    }

    h1 
    {
    font-size: 50px;
    word-break: break-all;
    }

    h2 
    {
    font-size: 30px;
    line-height: 0%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    padding: 20 0 20 0;
    }

    .row 
    {
    margin: 10 0 10 0;
    }

    /* Add padding BETWEEN each column  */
    .row,
    .row > .column 
    {
    padding: 8px;
    }


    /* Create three equal columns that floats next to each other */
    .column 
    {
    float: left;
    width: 33%;
    height: 600px;
    }

    /* Clear floats after rows */
    .row:after 
    {
    content: "";
    display: table;
    clear: both;
    }